@import url("../styles/general.css");

body {
    margin: 0px;
}

.card-cadastro {
    display: flex;
    margin: auto;

    border: 1px var(--primary-color) solid;
    border-radius: 6px 0px 0px 6px;
    width: 573px;
    height: 371px;
}
.card-cadastro #flor{
    height: 100%;
}

.fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flex-box {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

input {
    border-width: 0 0 2px 0;
    border-color: var(--primary-color);
}