body {
  background-color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

body.dark-theme {
  background-color: rgb(31, 41, 33);
}

body.dark-theme .section-title,
body.dark-theme .title-cart,
body.dark-theme div.detalhes-cart,
body.dark-theme #delete {
  color: rgb(255, 255, 255);
}

.navbar-brand.dark-theme {
  color: black;
}

.navbar-brand.dark-theme {
  color: white;
}