@import url(../styles/general.css);
body{
    background-color: var(--primary-color);
    color: white;
}



div#informacaoes{
    display: flex;
    flex-direction: row;
}

div#informacaoes div{
    margin-left: auto;
    margin-right: auto;
}


