@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primary-color: #688A3D;
  --hover-color: #8BAC60;
  --secundary-color: #F1FFDF;
  --salmao-color: #EB693E;
}

