@import url('./general.css');

* {
  font-family: 'Belleza';
}

.destaques {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.destaques h1 {
  font-size: 3.5em;
}

.destaques-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 5rem;
}

.destaque-card {
  /* border: 1px var(--primary-color) solid; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.destaque-card:hover {
  /* Pensar num efeito brabo */
  text-decoration: none;
}

.destaque-descricao {
  background-color: var(--primary-color);
  padding: .5em .8em;
  color: white;
}

.card-nome,
.card-preco {
  margin: 0;
}

.card-preco {
  font-family: 'Bebas Neue';
}

.destaque-descricao .card-nome {
  font-size: 1.7em;
  text-overflow: ellipsis;
}

.destaque-descricao .card-preco {
  font-size: 1.7em;
}

.produtos {
  background-color: var(--hover-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}

.produtos h1 {
  color: white;
  font-size: 3.5em;
}

.destaques>h1,
.produtos>h1 {
  margin: auto;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(4, 16rem);
  gap: 4rem;
  margin: auto;
  margin-bottom: 4rem;
}

.produtos-card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.produtos-card img {
  width: 100%;
}

.produtos-descricao {
  background-color: white;
  color: var(--primary-color);
  padding: .5em .8em;
}

@media (max-width: 1350px) {
  .produtos-grid {
    grid-template-columns: repeat(3, 16rem);
  }
}

@media (max-width: 975px) {
  .produtos-grid {
    grid-template-columns: repeat(2, 16rem);
  }
}