@import url("../styles/general.css");
@import url("../styles/bootstrap.css");


.bg-color-navbar{
    background: var(--primary-color);
}

#color-nabar-white .navbar-nav .nav-link{
    color: white;
}

#bgcolor-navbar{
    background-color: var(--primary-color);
}

#color-item{
    color: white;
}
#color-item:hover{
    background-color: var(--hover-color);
}